RewriteEngine On

# Redirect /index.html to /
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^(.*?)index\.html$ /$1 [R=301,L,NC]

# Redirect .html to clean URL
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html\s [NC]
RewriteRule ^ /%1 [R=301,L,NC]

# Serve .html file when clean URL requested
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.
RewriteRule ^([^/]+)/?$ /$1.html [L,NC]
